.gift > p {
    text-align: left;
    font-size: 30px;
    display: block;
}
.n_img {
    position: absolute;
    top: 700px;
    left: 50%;
}
.gift > li {
    display: block;
}
.needyimg {
    width: 100%;
}
.slogan {
    position: absolute;
    top: 170px;
    left: 12px;
    font-size: 28px;
    font-weight: bold;
}
.gift_image {
    border-radius: 50%;
    height: 200px;
    left: 0%;
}
.bw_image {
    border-radius: 30%;
    position: absolute;
    right: 0%;
    top: 22%;
}
.approach {
    width: 100%;
}
