.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: column flex-end;
    margin: 10px;
    padding:6px;
    width:80%;
    font-size: 25px;
    font-weight: bold;
    min-width: 400px;
    max-height:400px;
    background-color: rgb(241, 232, 232);
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    z-index: 1;

    }

    .services > img {
        max-height: 300px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 15px;
    }
    .services > img:hover {
        opacity: 0.5;
    }

    .service_info {
        height: 100px;
        margin-bottom: 15px;
    }

    .services > button {
        width: 50%;
        height: 100px;
        background: transparent;
        font-weight: bold;
        font-size: 30px;
        border: 1px solid;
        margin-top: 10px;
        border-color: rgb(83, 80, 74);
        color: black;
        cursor: pointer;
    }